input{
    border: none;
    border-bottom: 1px solid black;
    width: 400px;
    margin: 0 10px;
    padding: 10px 0;
    outline: none;
    font-size: 20px;
}
input:focus, input:hover{
    border-bottom: 1px solid var(--MAIN-COLOR);
    outline: none;
}
textarea{
    width: 100%;
    resize: none;
    margin: 2px 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}
textarea:focus, textarea:hover{
    outline-color: var(--MAIN-COLOR);
}
form{
    margin: 0 auto;
}


/*Add page*/
.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}
.job-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px
}

.login-wrapper, .register-wrapper{
    display: flex;
    height: 90vh;
    justify-content: center;
}
.login, .register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px
}
.auth-form{
    flex-direction: column;
    gap: 20px
}